body{
    color: #222222;
    background-color: #ffffff;
    font-family: 'roboto', sans-serif, 
    
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
    padding: 20px;
    margin-bottom: 20x;
    
}

a {
    color: white;
    text-decoration: none;
}

h1{
font-size: 36px;
line-height: 120%;
font-weight: 600;
}

h4{
font-size: 24px;
line-height: 32px;
font-weight: 600;
text-align: left;
margin-bottom: 32px; 
}

header{

}

header #hero{
    background-color: #EAE6E1;
    box-shadow: none;
}

header #hero-title h1{
margin-bottom: -4px;
margin-left: 240px;
}

header #hero-subtitle h4{
    margin-bottom: 24px;
    margin-left: 240px;
    }

header #background{
    
}   

#value-proposition{
    height: 300px;
}

#value-proposition a {
	background-color:#3E3E3E;
	font-weight: 600;
    color: #EAE6E1;
	margin-top: 24px;
}

#value-proposition .col{
	padding:0
}